body {
	font-family:Arial, Helvetica, sans-serif;
	font-size:16px;
}
/*
.dest_address {
margin-left:60%;
font-size:12;
}
.header {
margin-left:0;
text-align:left;
width:300px;
font-size:12;
}

.title {
font-size:16;
font-weight: bold;
}

.basic_table{
text-align:center;
border:1px solid lightGrey;
border-collapse: collapse;
}

.basic_table td {
border:1px solid lightGrey;
font-size:12;
}

.list_table {
border-color:black;
text-align:center;
border-collapse: collapse;

}
.list_table td {
border-color:gray;
border-top:1px solid gray;
text-align:left;
font-size:12;
padding-right:3px
padding-left:3px
padding-top:3px
padding-bottom:3px
}

.list_table th {
border-bottom:2px solid black;
text-align:left;
font-size:12;
font-weight:bold;
padding-right:3px
padding-left:3px
}

.list_tabe thead {
    display:table-header-group;
}

.total {
width:100%;
}
.lib {
width:10.3%;
}
.tot {
text-align:right;
width:15%;
}
.lefttot {
width:74%;
}
.tax {
width:50%;
} */

span {
	font-weight:700;
	text-transform: uppercase;

}

.datagrid table {
border-collapse:collapse;
text-align:left;
width:100%;
}

.datagrid {
background:#fff;
overflow:hidden;
border:1px solid #8C8C8C;
}

.datagrid table td,.datagrid table th {
padding:14px;
}

.datagrid table thead th {
background:0;
filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#8C8C8C',endColorstr='#7D7D7D');
background-color:#8C8C8C;
color:#FFF;
font-size:16px;
font-weight:700;
border-left:1px solid #A3A3A3;
}

.datagrid table thead th:first-child {
border:none;
}

.datagrid table tbody td {
border-left:1px solid #DBDBDB;
font-size:14px;
font-weight:400;
}

.datagrid table tbody .alt td {
background:#EBEBEB;
}

.datagrid table tbody td:first-child {
border-left:none;
}

.datagrid table tbody tr:last-child td {
border-bottom:none;
}